                                                * {
                                                box-sizing: border-box;
                                            }
                                            
                                            body {
                                                font-family: Arial, Helvetica, sans-serif;
                                                background-color: white;
                                            }
                                            
                                            h1,
                                            button.animals,
                                            .btn,
                                            #animal-input {
                                                /* background-color: white; */
                                                font-family: 'Montserrat';
                                                text-transform: uppercase;
                                                font-weight: bold;
                                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            }
                                            
                                            header {
                                                color: white;
                                                border: 5px solid;
                                                border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
                                            }
                                            
                                            .container {
                                                border: 10px;
                                            }
                                            
                                            button.animals,
                                            .btn,
                                            .colors,
                                            #animal-input {
                                                margin: 10px;
                                                border: 2px solid;
                                                padding: 0.5rem 1rem;
                                                /* background-color: #191919; */
                                                /* color: white; */
                                                border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
                                                /* conic-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F) 1; */
                                            }
                                            
                                            button.animals:hover,
                                            .btn:hover,
                                            #animal-input:hover {
                                                /* animation: slidebg 2s linear infinite; */
                                                background-color: aquamarine;
                                            }
                                            
                                            button.animals:after {
                                                content: attr(alt);
                                                width: 5vw;
                                                /* height: 8vw; */
                                                /* background-color: #191919; */
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                            
                                            div.container {
                                                display: grid;
                                                justify-content: space-evenly;
                                                justify-content: center;
                                            }
                                            
                                            #animals-view {
                                                display: grid;
                                                grid-template-columns: repeat(4, minmax(300px, 1fr));
                                                max-width: 100%;
                                                grid-gap: 10px;
                                                /* align-items: center; */
                                                /* justify-items: start; */
                                                align-items: start;
                                                text-align: center;
                                                /* max-width: 100%; */
                                            }
                                            
                                            img {
                                                object-fit: fill;
                                                max-width: 100%;
                                                justify-content: center;
                                                border-style: solid 3px purple;
                                            }
                                            
                                            button.animals:after {
                                                content: attr(alt);
                                                /* width: 20vw;
    height: 8vw;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
} */
                                                /* body {
    margin: 0;
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

.rainbow {
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
}

.rainbow:after {
    content: attr(alt);
    width: 20vw;
    height: 8vw;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
} */