 * {
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-family: Arial, Helvetica, sans-serif;
     /* background-color: white; */
     background-color: black;
 }
 
 .jumbotron {
     background-color: black;
 }
 
 #animal-input,
 .colors {
     /* background-color: white; */
     background-color: black;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 button.animals,
 .btn,
 #add-animal {
     -webkit-text-stroke: 0.5px rgb(255, 0, 140);
     /* background-color: white; */
     background-color: black;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 h1 {
     /* background-color: white; */
     background-color: black;
     color: white;
     font-family: 'Montserrat';
     text-transform: uppercase;
     font-weight: bold;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     -webkit-text-stroke: 2px rgb(255, 0, 140);
 }
 
 header {
     background-color: black;
     /* background-color: white; */
     border: 5px solid;
     border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
 }
 
 .container {
     border: 10px;
 }
 
 button.animals,
 .btn,
 .colors,
 #animal-input {
     text-transform: uppercase;
     margin: 10px;
     border: 2px solid;
     padding: 0.5rem 1rem;
     border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
 }
 
 button.animals:hover,
 .btn:hover,
 #add-animal:hover,
 #animal-input:hover {
     background-color: #FFCCFF;
     opacity: 1;
 }
 
 button.animals:after {
     animation: slidebg 2s linear infinite;
     content: attr(alt);
     width: 5vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .btn::after {
     content: attr(alt);
     width: 5vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 div.container {
     display: grid;
     justify-content: space-evenly;
     justify-content: center;
 }
 
 #animals-view {
     display: flex;
     /* grid-template-columns: repeat(4, minmax(300px, 1fr)); */
     max-width: 100%;
     flex-wrap: wrap;
     /* grid-gap: 10px; 
     align-items: start;*/
     text-align: center;
 }
 
 img {
     object-fit: fill;
     max-width: 100%;
     justify-content: center;
     width: 350px;
     height: 250px;
     margin: 10px;
 }